body {
    background: url('../images/friends.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron {
    width: 640px;
    padding: 50px 50px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75)
}

#footer {
    margin: 50px 0 0 0;
    font-size: 12px;
}

.btn-scale {
    width: 44px;
    height: 48px;
    text-align: center;
    color: black;
    border-radius: 0;
}

.btn-scale:hover,.btn-scale:focus {
    background-color: #b71c1c;
    color: white;
    font-weight: bold;
}

.btn-1 {
    background-color: #ffcdd2;
}

.btn-2 {
    background-color: #ef9a9a;
}

.btn-3 {
    background-color: #e57373;
}

.btn-4 {
    background-color: #ef5350;
}

.btn-5 {
    background-color: #f44336;
}

.side-btn {
    font-size: 12px;
    height: 48px;
    text-align:center;
}

.agree {
    background-color: #f33525;
    border-radius: 0 20px 20px 0;
    cursor: e-resize !important;
}

.disagree {
    background-color: #ffebee;
    border-radius: 20px 0 0 20px;
    cursor: w-resize !important;
}

/* Mobile responsive */

@media screen and (max-width: 700px) {
    @keyframes resize1 {
        from {padding: 50px 50px 20px;  
            width: 640px;}
        to {padding: 50px 20px 20px;  
            width: 90%;}
    }
    .jumbotron {
        animation-name: resize1;
        animation-duration: .5s;
        padding: 50px 20px 20px;  
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    @keyframes resize2 {
        from {width: 90%;}
        to {width: 100%;}
    }
    .jumbotron {
        animation-name: resize2;
        animation-duration: .5s;
        width: 100%;
    }
    .side-btn {
        padding: 8px 0;
        font-size: 10px;
        width: 44px;
    }
}